  
.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis-title {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}

.line {
    fill: none;
    stroke: orange;
} 
svg:not(:root) {
    overflow: visible;
}
h2{
    color:orange
}